<div class="container">
    <div class="leftContent" [ngClass]="bgImage">
        <div class="weatherInfo" *ngIf="weatherData">
            <div class="temperature">
                <h1>{{ weatherData.current.temp_c }}°</h1>
            </div>
            <div class="info">
                <div class="city">
                    <h2>{{ weatherData.location.name }}</h2>
                </div>
                <div class="time">
                    <p>{{ weatherData.location.localtime | date:'shortTime'}}</p>
                    <p>{{ weatherData.location.localtime | date:'MM/dd/yy'}}</p>
                </div>
            </div>
            <div class="weather">
                <div class="icon">
                    <img [src]="weatherData.current.condition.icon" alt="">
                </div>
                <div class="condition">
                    <p>{{ weatherData.current.condition.text }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="rightContent">
        <div class="inputs">
            <input type="text" class="searchLocation" placeholder="Search Location" #cityInput>
            <mat-icon (click)="onClick(cityInput.value)" id="searchIcon">search</mat-icon>
        </div>
        <div class="weather-container" *ngIf="weatherData">
            <h3>Weather Details</h3>
            <div class="weather-details">
                <p>Cloud</p>
                <p>{{ weatherData.current.cloud }}%</p>
            </div>
            <div class='weather-details'>
                <p>Humidity</p>
                <p>{{ weatherData.current.humidity }}%</p>
            </div>
            <div class='weather-details'>
                <p>Wind</p>
                <p>{{ weatherData.current.wind_kph }} km/h</p>
            </div>
            <div class='weather-details'>
                <p>Gust</p>
                <p>{{ weatherData.current.gust_kph }} km/h</p>
            </div>
            <div class='weather-details'>
                <p>Pressure</p>
                <p>{{ weatherData.current.pressure_mb }} hPa</p>
            </div>
            <hr class="line2">
        </div>
    </div>
</div>