<div class="container">
    <div class="leftContent">
        <div class="weatherInfo">
            <div class="temperature">
                <h1>{{ temperature }}°</h1>
            </div>
            <div class="info">
                <div class="city">
                    <h2>{{ city }}</h2>
                </div>
                <div class="time">
                    <p>{{ date | date:'shortTime'}}</p>
                    <p>{{ date | date:'MM/dd/yy'}}</p>
                </div>
            </div>
            <div class="weather">
                <div class="icon">
                    <img [src]="iconUrl" alt="" class="icon">

                </div>
                <div class="condition">
                    <p>{{ weather }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="rightContent">
        <div class="inputs">
            <mat-form-field class="searchLocation" appearance="fill">
                <mat-label>Search Location</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-icon id="searchIcon">search</mat-icon>
        </div>
        <hr class="line">
        <div class="weatherDetails">
            <h3>Weather Details</h3>
            <div class="cloudInfo">
                <p>Cloud</p>
                <p>{{ cloud }}%</p>
            </div>
            <div class='cloudInfo'>
                <p>Humidity</p>
                <p>{{ humidity }}%</p>
            </div>
            <div class='cloudInfo'>
                <p>Wind</p>
                <p>{{ wind }}km/h</p>
            </div>
        </div>
        <hr class="line2">
    </div>
</div>
<button (click)="onClick()">click</button>